@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*reference of patient page in the home page*@
    <a href="/Patients/index">see patients</a>    
    <a href="/Login/index">Login</a>
    <a href="/Patient_Signup/index">Signup as patient</a>
</div>
@*DbContextOptionsBuilder.EnableSensitiveDataLogging*@